

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  color:white;
  background-color:#a8d2a0;
  width:100%;
  height:100%;

}

html{
  width:100%;
  height:100%;
}



