*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}



body{
  font-family: Arial, sans-serif;
  color:#25873A;
  background-color:black;
  text-align: center;
}

h1{
	margin-top:5vh;
}

#logo{
	height:100%;
	max-height:10vh;
	display:block;
}

main{       
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    background-color: #F2B606;
    width:100%;
	flex: 1;

}

#siteContent{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer{
	height:20vh;
	max-height:400px;
	
}

